:root {
    --dream-target-gray: rgb(187, 187, 187);
}
body {
    padding: 0; margin: 0;
}

.dream-background-overflow-hider {
    background-color: #00000000;
    position: fixed;
    overflow: hidden;
    width: 100vw;
    height: 100%;
}
.dream-background {
    position: absolute;
    top: -200vh;
    left: -117vw;
    z-index: -20;
    width: 400vw; height: 400vh;
    background-image: url("/bg.png");
    /*background-size: cover;*/
    image-rendering: pixelated;
    animation-name: "pan-background";
    animation-duration: 800s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes pan-background {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.dream-content-spacer {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 100%;
}
.dream-content-container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 45rem;
    height: 100%;
    margin-bottom: 5rem;
}
.dream-content-background {
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: calc(100%);
    background: rgba(0, 0, 0, 0);
}

.dream-content-bg-container {
    height: 100%;
    width: 100%;
}
.dream-content {
    height: 100%;
    width: 100%;
}
.dream-topbar {
    margin-top: 1rem;
    display: flex;
    height: 4rem;
    width: 100%;
    mix-blend-mode: difference;
    /*background: rgba(0,0,0,0.4);*/
}
.dream-logo-img-header {
    image-rendering: pixelated;
    padding: .5rem;
    padding-left: 0;
    min-width: 0; /* Ensure the item can be smaller than its content */
    max-width: 100%; /* Prevent the item from exceeding the container's width */
    max-height: 100%;
    overflow: hidden;
    filter: invert(67%) sepia(19%) saturate(12%) hue-rotate(314deg) brightness(82%) contrast(84%);

}

.mix-difference {
    mix-blend-mode: difference;
}

.dream-header-dotnet {
    color: #505050;
    margin: 0;
    margin-bottom: 6px;
    align-self: end;
}

.dream-text {
    color: var(--dream-target-gray) !important;
}