:root {
    --dream-target-gray: #1d1721;
}
body {
    min-width: 754px;
    min-height: 695px;
    padding: 0; margin: 0;
}

.dream-background-overflow-hider {
    background-color: #00000000;
    position: fixed;
    overflow: hidden;
    width: 100vw;
    height: 100%;
}
.dream-background {
    position: absolute;
    top: -400vh;
    left: -217vw;
    z-index: -20;
    min-width: 800vw; min-height: 800vh;
    background-image: url("/bg.png");
    /*background-size: cover;*/
    image-rendering: pixelated;
    animation-name: "pan-background";
    animation-duration: 800s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes pan-background {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.dream-content-spacer {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 100%;
}
.dream-content-container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 5rem;
}
.dream-content-background {
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: calc(100%);
    background: rgba(0, 0, 0, 0);
}

.dream-content-bg-container {
    /*height: 100%;*/
    width: 100%;
}
.dream-content {
    position: relative;
    height: 100%;
    width: 100%;
}
.dream-topbar {
    display: flex;
    height: 4rem;
    padding: 0 2.5rem 0 2.5rem;
    /*background: rgba(0,0,0,0.4);*/
}
.dream-topbar-gap {
    margin-top: 1rem;
    display: flex;
    width: 100%;
    height: 4rem;
    
    gap: 25rem;
    flex-direction: row;
    /*background: rgba(0,0,0,0.4);*/
}
.dream-topbar-icon {
    opacity: 1;
    display: flex;
    align-self: center;
    z-index: +2;
    width: 1.7rem;
    height: 1.7rem;
    transition: opacity 0.12s ease-in-out;
}
.dream-topbar-icon:hover {
    cursor: pointer;
    opacity:0.5;
    /*filter: opacity(50%);*/
}

.dream-topbar-icons {
    gap: 1rem;
    display: flex;
    height: 100%;
}
.dream-logo-img-header {
    image-rendering: pixelated;
    padding: .5rem;
    padding-left: 0;
    min-width: 0; /* Ensure the item can be smaller than its content */
    max-width: 100%; /* Prevent the item from exceeding the container's width */
    max-height: 100%;
    overflow: hidden;
    filter: invert(67%) sepia(19%) saturate(12%) hue-rotate(314deg) brightness(82%) contrast(84%);
}

.mix-difference {
    /*mix-blend-mode: difference;*/
}

.dream-header-dotnet {
    color: #505050;
    margin: 0;
    margin-bottom: 6px;
    align-self: end;
}

.dream-text {
    z-index: +3;
    color: #1d1721;
}

@media (max-width: 1000px) {
    .macro-sections-grid {
      grid-template-columns: 1fr;
    }
    .macro-section {
      margin-bottom: 2rem;
    }
  }

.macro-section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 0;
    width: 50rem;
    justify-self: center;
    
}

.macro-sections-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    width: 100%;
    margin: 0 auto;
  }

.macro-section-container{
    
}

.macro-section-grid-container {
    padding: 0 2.5rem 0 2.5rem;
}