@font-face {
    font-family: 'rainyhearts';
    src: url('/fonts/rainyhearts.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'kiwisoda';
    src: url('/fonts/KiwiSoda.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'monocraft';
    src: url('/fonts/monocraft.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "retrogaming";
    src: url("/fonts/Retro Gaming.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "pixeloperator";
    src: url("/fonts/PixelOperator.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.font-rainy {
    font-family: "rainyhearts";
}

.font-kiwi {
    font-family: "kiwisoda";
}

.font-mono {
    font-family: "monocraft";
}

.font-retro {
    font-family: "retrogaming";
}
.font-pixel {
    font-family: "pixeloperator";
}