---
import '../styles/global.css';
import '../layouts/WorkInProgressLayout.astro'
import WorkInProgressLayout from "../layouts/WorkInProgressLayout.astro";
---

<WorkInProgressLayout>
	<style>
		/* Register your custom font family and tell the browser where to find it. */
		@font-face {
			font-family: 'rainyhearts';
			src: url('/public/fonts/rainyhearts.ttf');
			font-weight: normal;
			font-style: normal;
			font-display: swap;
		}

		h1 {
			font-family: rainyhearts, serif;
			color: aliceblue;
		}
		h3 {
			font-family: rainyhearts, serif;
			color: aliceblue;
		}
		.text-slightdark {
			color: #878787
		}
	</style>
	<h1>I'm currently working on this website, check back later.</h1>
	<div class="break"></div> <!-- break -->
	<h3 class="text-slightdark">Or go back to the <a href="https://old.kz-n.net">current website</a></h3>
</WorkInProgressLayout>

