---
const { coverArt } = Astro.props;
---
<section class="music-card-container">
    <div class="music-card-square">
        <img src={coverArt} alt="Cover Art" class="music-card-coverart" />
    </div>
</section>