---
const { coverArt, class: className = "" } = Astro.props;
---
<section class={"music-card-container " + className}>
    <div class="music-card-square">
        <img src={coverArt} alt="Cover Art" class="music-card-coverart" />
    </div>
</section>