---

---
<div class="mix-difference dream-topbar-gap">
    <div class="dream-topbar">
        <img src="/src/logobig.png" class="dream-logo-img-header">

        </img>
        <h1 class="font-kiwi dream-header-dotnet">.net</h1>
    </div>
    <div class="mix-difference dream-topbar-icons">
        <a target="_blank" rel="noreferrer noopener" href="https://github.com/kz-n" class="dream-topbar-icon"><img src="/icons/github.svg" class="dream-topbar-icon"></a>
        <a target="_blank" rel="noreferrer noopener" href="https://twitter.com/_kznof" class="dream-topbar-icon"><img src="/icons/twitter.svg" class="dream-topbar-icon"></a>
        <a target="_blank" rel="noreferrer noopener" href="https://discord.com/users/469817786420559872" class="dream-topbar-icon"><img src="/icons/discord.svg" class="dream-topbar-icon"></a>


    </div>
</div>