---
import '../styles/dream.css';
import '../styles/fonts.css';
import '../styles/blog.css'
import TopBar from "../components/TopBar.astro";
const { frontmatter } = Astro.props;
---
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script>
        import "../turbo-router.js";
    </script>
    <title>kz-n.net</title>
</head>
    <body>
        <div class="dream-background-overflow-hider"">
            <div class="dream-background"></div>
        </div>
        <!--<div class="dream-content-background"></div>-->
        <div class="dream-content-spacer">
            <div class="dream-content-container">
                <TopBar/>
                <div class="dream-content-bg-container">
                    <slot></slot>
                </div>
            </div>
        </div>
    </body>
</html>