---
import '../styles/dream.css';
import '../styles/home.css';
import '../styles/fonts.css';
import '../styles/blog.css';
import TopBar from "../components/TopBar.astro";
---
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script>
        import "../turbo-router.js";
    </script>
    <title>kz-n.net</title>
</head>
    <body>
        <div class="dream-background-overflow-hider" data->
            <div class="dream-background"></div>
        </div>
        <div class="dream-content-background"></div>
        <div class="dream-content-spacer"  data-turbo-track="reload">
            <div class="dream-content-container">
                <TopBar/>
                <div class="dream-content-bg-container">
                    <div class="dream-content">
                        <slot></slot>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>